* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem; }

b {
  font-weight: 100; }

i, p {
  font-style: normal; }

html {
  font-size: 26.67vw; }

html, body {
  height: 100%;
  width: 100%;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  overflow: auto;
  z-index: 9; }

#me-header {
  width: 100%;
  position: fixed;
  top: 0; }
  #me-header ul {
    display: flex;
    justify-content: space-around; }
  #me-header .me-header-top {
    height: 2rem;
    background-color: #FF3333; }
    #me-header .me-header-top .me-header-one {
      height: .44rem;
      line-height: .44rem;
      color: white;
      margin-left: 82%; }
      #me-header .me-header-top .me-header-one a {
        color: white; }
    #me-header .me-header-top .me-header-two {
      height: .4rem;
      margin-top: .2rem; }
      #me-header .me-header-top .me-header-two #login {
        display: inline-block;
        width: 1.2rem;
        height: .3rem;
        background-color: white;
        color: #FF3333;
        line-height: .3rem;
        text-align: center;
        margin-left: 5%;
        border-radius: 5px; }
      #me-header .me-header-top .me-header-two a {
        color: white;
        font-size: .12rem; }
      #me-header .me-header-top .me-header-two #signIn {
        display: inline-block;
        width: .8rem;
        height: .3rem;
        line-height: .3rem;
        border: .011rem solid ghostwhite;
        border-right: hidden;
        border-radius: 8px 0px 0px 8px;
        text-align: center;
        color: white;
        float: right; }
    #me-header .me-header-top .me-header-three {
      height: .4rem;
      line-height: .4rem;
      margin-top: .1rem; }
      #me-header .me-header-top .me-header-three ul {
        width: 90%;
        margin-left: 5%;
        color: white; }
        #me-header .me-header-top .me-header-three ul li {
          justify-content: center; }
          #me-header .me-header-top .me-header-three ul li a {
            color: white; }
          #me-header .me-header-top .me-header-three ul li i {
            font-size: .22rem; }
  #me-header .me-header-bottom {
    height: 1.4rem; }
    #me-header .me-header-bottom .out {
      width: 90%;
      margin-left: 5%;
      background-color: ghostwhite; }
      #me-header .me-header-bottom .out .me-header-four {
        width: 100%;
        height: .4rem;
        line-height: .4rem;
        margin-bottom: .1rem;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0px 2px 2px darkgrey; }
        #me-header .me-header-bottom .out .me-header-four ul {
          margin-top: -0.2rem;
          color: darkgrey; }
          #me-header .me-header-bottom .out .me-header-four ul li {
            width: 50%;
            text-align: center; }
            #me-header .me-header-bottom .out .me-header-four ul li a {
              color: darkgrey; }
      #me-header .me-header-bottom .out .me-header-five {
        width: 100%;
        height: .8rem;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0px 2px 2px darkgrey; }
        #me-header .me-header-bottom .out .me-header-five ul {
          color: darkgrey;
          flex-wrap: wrap;
          height: .8rem; }
          #me-header .me-header-bottom .out .me-header-five ul li {
            height: .8rem;
            width: 25%;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            border-right: .011rem solid gainsboro; }
            #me-header .me-header-bottom .out .me-header-five ul li b {
              font-size: .12rem; }

#me-content {
  width: 100%;
  margin-top: 3.2rem;
  margin-bottom: .44rem; }
  #me-content ul {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    background-color: white;
    border: .011rem solid gainsboro;
    border-radius: 3px;
    box-shadow: 0px 2px 2px darkgrey; }
    #me-content ul li {
      width: 100%;
      height: .44rem;
      line-height: .44rem;
      align-items: center; }
      #me-content ul li i {
        margin-left: 3%; }
      #me-content ul li b {
        margin-left: 5%; }
      #me-content ul li p {
        font-size: .12rem;
        color: darkgrey;
        display: block;
        float: right;
        margin-right: 3%; }
  #me-content .me-content-one ul li:nth-of-type(1) {
    border-bottom: .011rem solid gainsboro; }
    #me-content .me-content-one ul li:nth-of-type(1) i {
      color: orangered; }
  #me-content .me-content-one ul li:nth-of-type(2) i {
    color: #FF3333; }
  #me-content .me-content-two {
    margin-top: .1rem; }
    #me-content .me-content-two ul li:nth-of-type(1) {
      border-bottom: .011rem solid gainsboro; }
      #me-content .me-content-two ul li:nth-of-type(1) i {
        color: goldenrod; }
      #me-content .me-content-two ul li:nth-of-type(1) b {
        margin-left: 3%; }
      #me-content .me-content-two ul li:nth-of-type(1) a {
        color: red;
        font-size: .12rem; }
    #me-content .me-content-two ul li:nth-of-type(2) {
      border-bottom: .011rem solid gainsboro; }
      #me-content .me-content-two ul li:nth-of-type(2) i {
        color: orangered; }
    #me-content .me-content-two ul li:nth-of-type(3) {
      border-bottom: .011rem solid gainsboro; }
      #me-content .me-content-two ul li:nth-of-type(3) i {
        color: red; }
      #me-content .me-content-two ul li:nth-of-type(3) a {
        color: grey;
        font-size: .12rem; }
  #me-content .me-content-three {
    margin-top: .1rem; }
    #me-content .me-content-three ul li {
      border-bottom: .011rem solid gainsboro; }
    #me-content .me-content-three ul li:nth-of-type(1) i {
      color: deepskyblue; }
    #me-content .me-content-three ul li:nth-of-type(2) i {
      color: blue; }
    #me-content .me-content-three ul li:nth-of-type(2) .el-switch {
      float: right;
      margin-top: .1rem; }
    #me-content .me-content-three ul li:nth-of-type(3) i {
      color: blueviolet; }
    #me-content .me-content-three ul li:nth-of-type(4) i {
      color: #0086B3; }

#me-footer {
  width: 100%;
  height: .44rem;
  background-color: white;
  position: fixed;
  bottom: 0;
  z-index: 99; }

/*# sourceMappingURL=me.css.map */
