@charset "UTF-8";
*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
    font-size:.14rem;   
}
b{
    font-weight:100;
}


i,p{
    font-style:normal;
}

html{
    font-size: 26.67vw;
}
html,body{
    height:100%;
    width:100%;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 9;
}    
     //我的页面头部
    #me-header{
        width: 100%;
        position: fixed;
        top:0;
        ul{
            display: flex;
            justify-content: space-around;
        }
        .me-header-top{
            height: 2rem;
            background-color: #FF3333;
            .me-header-one{
                height: .44rem;
                line-height: .44rem;
                color: white;
                margin-left: 82%;
                a{
                    color: white;
                }
            }
            .me-header-two{
                height: .4rem;
                margin-top: .2rem;
                #login{
                    display: inline-block;
                    width: 1.2rem;
                    height: .3rem;
                    background-color: white;
                    color: #FF3333;
                    line-height: .3rem;
                    text-align: center; 
                    margin-left: 5%;
                    border-radius: 5px;
                }
                a{
                    color: white;
                    font-size: .12rem;
                }
                #signIn{
                    display: inline-block;
                    width: .8rem;
                    height: .3rem;
                    line-height: .3rem;
                    border: .011rem solid ghostwhite;
                    border-right:hidden ;
                    border-radius: 8px 0px 0px 8px;
                    text-align: center;
                    color: white;
                    float: right;
                }
            }
            .me-header-three{
                height: .4rem;
                line-height: .4rem;
                margin-top: .1rem;
                ul{
                    width: 90%;
                    margin-left: 5%;
                    color: white;
                    li{
                        justify-content: center;
                        a{
                            color: white;
                        }
                        i{
                            font-size: .22rem;
                        }
                    }
                }
            }
        }
        .me-header-bottom{
            height: 1.4rem;
            .out{
                width: 90%;
                margin-left: 5%;
                background-color: ghostwhite;
                .me-header-four{
                    width: 100%;
                    height: .4rem;
                    line-height: .4rem;
                    margin-bottom: .1rem;
                    background-color: white;
                    border-radius: 3px;
                    box-shadow: 0px 2px 2px darkgrey;
                    ul{
                        margin-top:-.2rem ;
                        color: darkgrey;
                        li{
                            width: 50%;
                            text-align: center;
                            a{
                                color:darkgrey ;
                            }
                        }
                    }
                }
                .me-header-five{
                    width: 100%;
                    height: .8rem;
                    background-color: white;
                    border-radius: 3px;
                    box-shadow: 0px 2px 2px darkgrey;
                    ul{
                        color: darkgrey;
                        flex-wrap: wrap;
                        height: .8rem;
                        li{
                            height: .8rem;
                            width: 25%;
                            align-items: center;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            flex-direction: column;
                            border-right: .011rem solid gainsboro;
                            b{
                                font-size: .12rem;
                            }
                        }
                    }
                }
            }   
        }   
    }
    #me-content{
        width: 100%;
        margin-top: 3.2rem;
        margin-bottom: .44rem;
        ul{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            margin-left: 5%;
            background-color: white;
            border: .011rem solid gainsboro;
            border-radius: 3px;
            box-shadow: 0px 2px 2px darkgrey;
            li{
                width: 100%;
                height: .44rem;
                line-height: .44rem;
                align-items: center;
                i{
                    margin-left: 3%;
                }
                b{
                    margin-left: 5%;
                }
                p{
                    font-size: .12rem;
                    color: darkgrey;
                    display:block;
                    float: right;
                    margin-right: 3%;
                }
            }
        }          
        .me-content-one{
            ul{
                
                li:nth-of-type(1){
                    border-bottom: .011rem solid gainsboro;
                    i{
                        color: orangered;
                    }
                } 
                li:nth-of-type(2) {

                    i{
                        color: #FF3333;
                    }
                }               
            }
        }
        .me-content-two{
            margin-top: .1rem;
            ul{
                li:nth-of-type(1){
                    border-bottom: .011rem solid gainsboro;
                    i{
                        color: goldenrod;
                    }
                    b{
                        margin-left: 3%;
                    }
                    a{
                        color: red;
                        font-size: .12rem;
                    }
                }
                li:nth-of-type(2){
                    border-bottom: .011rem solid gainsboro;
                    i{
                        color: orangered;
                    }
                }
                li:nth-of-type(3){
                    border-bottom: .011rem solid gainsboro;
                    i{
                        color: red;
                    }
                    a{
                    color:grey;
                    font-size: .12rem;
                }
                }
            }
        }
        .me-content-three{
            margin-top: .1rem;
            ul{
                li{
                    border-bottom: .011rem solid gainsboro;
                }
                li:nth-of-type(1){                  
                    i{
                        color: deepskyblue;
                    }
                }
                li:nth-of-type(2){
                    i{
                        color: blue;
                    }
                    .el-switch{
                        float: right;
                        margin-top: .1rem;
                    }
                }
                li:nth-of-type(3){
                    i{
                        color: blueviolet;
                    }
                }
                li:nth-of-type(4){                  
                    i{
                        color: #0086B3;
                    }
                }
            }
        }    
    }
    #me-footer{
        width: 100%;
        height: .44rem;
        background-color: white;
        position: fixed;
        bottom: 0;
        z-index: 99;
    } 
